<h2>Welcome, <%= @user.email %></h2>

<form action="/Topics/new" method="post">
  <input type="text" name="title">
  <input type="submit" value="Create Topic">
</form>

<% @topics.each do |topic| %>
  <a href="/topics/<%="#{topic.id}"%>"><%="#{topic.title}"%></a>

  <form action="/topics/edit/<%="#{@topic.id}"%>" method="get">
    <input type="submit" name="edit" value="Edit">
  </form>
<%end%>
