<form action="/users/new" method="POST">

  Email:<input type="text" name="email" id="email" value="">

  <br></br>

  Create Password:<input type="text" name="password" id="password" value="">

  <input type="submit" value="Sign Up">
</form>
